/**
 * @Desc css全局变量
 */
// 背景颜色
$color-bg: #ffffff;

// 文字颜色
$color-text: #ffffff;
$color-text-sub: #885500;
$color-text-g: #ffeedd; 
$color-text-b: #333;

// 字体大小规范
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-large-x: 28px